//------------------------------------//

// * Master SASS file
// * Architecture uses ITCSS methodology

//------------------------------------//

// 01. SETTINGS
@import "settings.colours";
@import "settings.fonts";
@import "settings.breakpoints";

// 02. TOOLS
@import "tools.placeholders";
@import "tools.mixins";
@import "tools.general";

// 03. GENERIC
//@import 'generic.normalize';
@import "generic.reset";

// 04. BASE
@import "base.general";
@import "base.theme";
@import "base.buttons";
@import "base.forms";
@import "base.layout";

// 05. OBJECTS

// 06. COMPONENTS
@import "components.header";

// 07. TRUMPS
@import "trumps.utilities";
