::-moz-selection {
  color: #fff;
  background: #111; }

::selection {
  color: #fff;
  background: #111; }

a::-moz-selection {
  color: #111;
  background: #fff; }

a::selection {
  color: #111;
  background: #fff; }

@font-face {
  font-family: 'iconFont';
  src: url('../fonts/icons/icons.eot');
  src: url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons/icons.woff') format('woff'), url('../fonts/icons/icons.ttf') format('truetype'), url('../fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.genericButton {
  display: block;
  background: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 1em;
  line-height: inherit;
  padding: 0;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
  background: #39cccc; }

h1 {
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.2em; }

p {
  padding-bottom: 1em; }

blockquote {
  border-left: 0.2em solid #111;
  margin-left: -0.7em;
  padding-left: 0.5em;
  font-style: italic; }

.genericButton:focus {
  outline: none; }

.genericButton.disabled {
  background: #aaa;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default; }
  .genericButton.disabled:active {
    color: #fff; }

input, textarea {
  width: 100%;
  max-width: 100%;
  font-size: 1em;
  border: 0;
  padding: 1em;
  margin-bottom: 1em;
  font-family: georgia, serif; }

.mainWrap {
  width: 90%;
  max-width: 40em;
  margin: 0 auto; }

header {
  background: #111;
  color: #ff851b;
  padding: 0.5em;
  margin-bottom: 1em; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

